@charset "UTF-8";

// 変数、mixinは as 変数名を入力する
// その後は入れる場所にて変数名.varもしくはmixin名を入れる
/* 
    例)p{
         font-size: var.$title;
       }  
*/
@use "var";
@use "mixin" as mixin;
//変数名がファイル名と異なる場合はas~必要だが、同じ場合は要らない

@use "header";
@use "main";
@use "volley";
@use "footer";

@include mixin.all;
@include mixin.zoomimg;

.catchphrase{
    margin-top: 80px;
}

.gallery{
    @include mixin.mobile{
        padding: 0;
    }
    .album{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding:0 25px;/*ギャラリー左右に余白をつける*/
        margin:0;
        gap: 53px;
        @include mixin.mobile{
            grid-template-columns: 1fr 1fr;
            gap: 11px;
        }
        li{
            position: relative;
            overflow: hidden; /* 拡大画像が枠外に出ないようにする */
            display: inline-block;
            list-style: none;
            margin-bottom: 25px;/*各画像下に余白をつける*/
            list-style:none;
            width: 100%; 
            height: 394px;
            @include mixin.mobile{
                height: 299px;
            }
            p{
                text-align: center;
                width: 100%;
                font-size: 13px;
                color: #5e5e5e;
                display: none;
                @include mixin.mobile{
                    display: block;
                }
            }
        }
        /*ギャラリー内のイメージは横幅100%にする*/
        img{
            position: absolute; /* 画像を親要素内で自由に配置 */
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1); /* 画像をボックスの中央に配置 */
            transition: transform 0.5s ease; /* 拡大アニメーション */
            object-fit: cover;
            vertical-align: bottom;/*画像の下にできる余白を削除*/
            box-shadow: 0px 0px 8px rgb(255, 255, 255);
            &:hover{
                transform: translate(-50%, -50%) scale(1.1);
            }
            @include mixin.tablet{
                width: 100%;
            }
            @include mixin.mobile{
                height: 240px;
            }
        }
    }
}

