@charset "UTF-8";

// 変数、mixinは as 変数名を入力する
// その後は入れる場所にて変数名.varもしくはmixin名を入れる
/* 
    例)p{
         font-size: var.$title;
       }  
*/
@use "var";
@use "mixin" as mixin;
//変数名がファイル名と異なる場合はas~必要だが、同じ場合は要らない

@use "header";
@use "main";
@use "volley";
@use "footer";

@include mixin.all;
@include mixin.zoomimg;

.album{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:0 25px;/*ギャラリー左右に余白をつける*/
    margin:0;
    gap: 53px;
    @include mixin.mobile{
        grid-template-columns: 1fr 1fr;
        gap: 11px;
    }
    li{
        margin-bottom: 25px;/*各画像下に余白をつける*/
        list-style:none;
        p{
            text-align: center;
            width: 100%;
            font-size: 13px;
            color: #5e5e5e;
        }
    }
    /*ギャラリー内のイメージは横幅100%にする*/
    img{
        width: 300px;
        height: 394px;
        object-fit: cover;
        vertical-align: bottom;/*画像の下にできる余白を削除*/
        box-shadow: 0px 0px 8px rgb(255, 255, 255);
        @include mixin.tablet{
            width: 100%;
        }
        @include mixin.mobile{
            height: 240px;
        }
    }
}

