footer {
  margin-top: 80px;
  .scroll{
    opacity: 0;
    transition: all 0.5s ease;
    &:hover{
        transform: scale(1.1);
        background-color: #faf1f1;
    }
    &:active{
        transform: translateY(20px);
    }
    &.visible{
        opacity: 1;
    }
    .go-top{
        font-size: 35px;
        color: black;
        padding-left: 24px;
        line-height: 70px;
    }
}

  .contact {
    div {
      text-align: center;
      figure {
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
          box-sizing: content-box;
          margin: 0;
          font-size: 27px;
        }
        div {
          width: 141px;
          img {
            width: 100%;
          }
        }
      }
      img {
        width: 800px;
      }
      .account {
        margin-top: 50px;
        gap: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .mail {
          display: inline-block;
          border: solid 1px #1c1b1c;
          border-radius: 30px;
          padding: 17px 61px;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: #faf1f1;
            background-color: #1c1b1c;
          }
        }
        .icon {
          font-size: 65px;
          transition: scale 0.3s ease-in-out;
          &:hover {
            scale: 1.2;
          }
        }
      }
    }
  }
  .copyright {
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
  }
}
