header {
  position: fixed;
  top: 15px;
  left: 0;
  width: 100%;
  z-index: 10;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      img {
        display: inline-block;
        width: 213px;
        height: 193px;
      }
    }
    h3{
      font-family: "Yuji Boku", serif;
      font-weight: 400;
      font-size: 30px;
      font-style: normal;
    }
  }

  nav {
    position: fixed;
    bottom: 3.5rem;
    left: 2.5rem;
    color: #1c1b1c;
    ul {
      list-style-type: none;
      display: flex;
      gap: 10px;
      li {
        font-size: 18px;
        line-height: 1.8em;
        writing-mode: vertical-rl;
      }
      a{
        background-color: rgba(250, 241, 241, 0.6);
        border-radius: 6px;
        padding: 4px 2px;
        transition: all 0.3s ease-in-out;
        &:hover{
          color: #a0a0a0;
        }
      }
    }
  }
}
