@charset "UTF-8";

// 変数、mixinは as 変数名を入力する
// その後は入れる場所にて変数名.varもしくはmixin名を入れる
/* 
    例)p{
         font-size: var.$title;
       }  
*/
@use "var";
@use "mixin" as mixin;
//変数名がファイル名と異なる場合はas~必要だが、同じ場合は要らない

@use "header";
@use "main";
@use "top";
@use "volley";
@use "footer";

@include mixin.all;
@include mixin.zoomimg;

h1 {
  font-size: 30px;
}

#profile {
  .profile_box {
    div {
      h3 {
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 14px;
        &:before {
          content: "Yuya Kamachi";
          letter-spacing: 0.19em;
          font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        }
      }
    }
  }
}

#descript2 {
  .phase3,
  .phase4 {
    @include mixin.middle_box;
    padding-top: 60px;
    img {
      width: 450px;
      height: 100%;
      @include mixin.tablet {
        width: 500px;
      }
      @include mixin.mobile {
        width: 294px;
      }
    }
  }
  .phase4 {
    flex-direction: row-reverse;
    @include mixin.tablet {
      flex-direction: column;
    }
  }
}
