@charset "UTF-8";

// 変数、mixinは as 変数名を入力する
// その後は入れる場所にて変数名.varもしくはmixin名を入れる
/* 
    例)p{
         font-size: var.$title;
       }  
*/
@use "var";
@use "mixin" as mixin;
//変数名がファイル名と異なる場合はas~必要だが、同じ場合は要らない

@use "header";
@use "main";
@use "footer";

@include mixin.all;

//各セクションセレクタ
#hero {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0;
  padding: 0;
  margin: 0;
  .catchphrase {
    div {
      display: flex;
      flex-direction: column;
      text-align: left;
      h1 {
        font-size: var.$title;
      }
      p {
        position: relative;
        line-height: 1.8em;
        padding-left: 6.895833333333332vw;
        padding-bottom: 1.5625vw;
        padding-top: 0.5208333333333333vw;
        &::before {
          content: "";
          width: 4.6875vw;
          position: absolute;
          border: solid 0.8px #1c1b1c;
          opacity: 0.8;
          top: 1.5vw;
          left: 0.6458333333333335vw;
        }
      }
    }
  }
  div {
    position: relative;
    img {
      width: 100%;
      height: 102svh;
      object-fit: cover;
      object-position: 100% 0%;
    }
    .scrolldown2 {
      /* 描画位置 ※位置は適宜調整してください */
      position: absolute;
      /* top: -50px; */
      bottom: 87px;
      right: 12%;
      span {
        /* 描画位置 */
        position: absolute;
        left: 10px;
        bottom: 20px;
        /* テキストの形状 */
        color: #1c1b1c;
        font-size: 0.7rem;
        letter-spacing: 0.05em;
        /* 縦書き設定 */
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
      }
      /* 丸の描写 */
      &::before {
        content: "";
        /* 描画位置 */
        position: absolute;
        bottom: 0;
        left: -4px;
        /* 丸の形状 */
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #1c1b1c;
        /* 丸の動き 1.6秒かけて透過し、永遠にループ */
        animation: 
          circlemove 1.6s ease-in-out infinite,
          cirlemovehide 1.6s ease-out infinite;
      }
      /* 線の描写 */
      &::after {
        content: "";
        /* 描画位置 */
        position: absolute;
        bottom: 0;
        left: 0;
    
        /* 線の形状 */
        width: 2px;
        height: 80px;
        background: #1c1b1c;
      }
      /* 下からの距離が変化して丸の全体が上から下に動く */
      @keyframes circlemove {
        0% {
          bottom: 70px;
        }
        100% {
          bottom: -5px;
        }
      }
      /* 上から下にかけて丸が透過 → 不透明 → 透過する */
      @keyframes cirlemovehide {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        80% {
          opacity: 0.9;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }
}

#volleyball {
  width: 1000px;
  a {
    margin: 0 auto;
    @include mixin.middle_box();
    &:hover {
      cursor: zoom-in;
    }
    .top_volley {
      overflow: hidden;
      width: 385px;
      height: 300px;
    }
    .banner {
      overflow: hidden;
      position: relative;

      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: url("../asset/img/volleyball_ball.png") no-repeat center
          center;
        background-size: cover;
        transition: transform 0.8s ease;
      }

      &:hover:after {
        transform: scale(1.1);
      }
    }
  }
}

#travel {
  width: 1000px;
  a {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 70px;
    &:hover {
      cursor: zoom-in;
    }
    .top_travel {
      overflow: hidden;
      width: 385px;
      height: 300px;
      background-image: url(../asset/img/travel_window.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .banner2 {
      overflow: hidden;
      position: relative;

      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: url("../asset/img/travel_window.png") no-repeat center
          center;
        background-size: cover;
        transition: transform 0.8s ease;
      }

      &:hover:after {
        transform: scale(1.1);
      }
    }
  }
}

#profile {
  width: 1000px;
  .profile_box {
    @include mixin.middle_box();
    h3 {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-size: 25px;
      letter-spacing: 0.4rem;
    }
    .info {
      a {
        display: inline-block;
        border: solid 1px #1c1b1c;
        padding: 9px 50px;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: #faf1f1;
          background-color: #1c1b1c;
        }
      }
    }
    .top_profile {
      overflow: hidden;
      width: 300px;
    }
  }
}

#fashion {
  width: 100%;
  background-color: var.$accent_color;
  h2 {
    text-align: center;
    a{
      font-size: 30px;
    }
  }
  .slide-container {
    display: flex;
    align-items: center;
    height: 340px;
    overflow: hidden;
    flex-direction: row;
    margin: 0 auto;
    .slide-wrapper {
      display: flex;
      flex-direction: row;
      animation: slide-flow 20s infinite linear 1s both;
      .slide {
        width: 300px;
        object-fit: cover;
        margin-right: 60px;
      }
      @keyframes slide-flow {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%);
        }
      }
    }
  }
}
