@charset "UTF-8";

// 変数、mixinは as 変数名を入力する
// その後は入れる場所にて変数名.varもしくはmixin名を入れる
/* 
    例)p{
         font-size: var.$title;
       }  
*/
@use "var";
@use "mixin" as mixin;
//変数名がファイル名と異なる場合はas~必要だが、同じ場合は要らない

@use "header";
@use "main";
@use "volley";
@use "footer";

@include mixin.all;
@include mixin.zoomimg;

h1 {
  font-size: 30px;
}

#hero{
    @include mixin.mobile{
        padding-bottom: 10px;
    }
    .topicpath {
        padding-top: 197px;
        @include mixin.mobile{
            padding-top: 116px;
        }
    }
    .catchphrase{
        justify-content: left;
        @include mixin.tablet{
            width: 630px;
            margin: 0 auto;
        }
        @include mixin.mobile{
            width: 294px;
            margin-top: 50px;
        }
        h1 {
            width: 100%;
            text-align: left;
            margin: 80px 0 0 0;
            font-size: 36px; 
            .br{
                display: none;
                @include mixin.mobile{
                    display: inline-block;
                }
            }
            @include mixin.mobile{
                font-size: 22px;
                margin: 40px auto;
            }
        }
    }
    div{
        @include mixin.middle_box;
        .heroimg{
            width: 1000px;
            height: 60svh;
            object-fit: cover;
            margin-top: 50px;
            @include mixin.tablet{
                width: 630px;
                height: 45svh;
            }
              @include mixin.mobile{
                width: 294px;
                height: 36svh;
                margin-top: 0;
            }
        }
    }
}

#sub_hero{
    padding-top: 0;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    @include mixin.tablet{
        width: 630px;
        height: 36svh;
    }
    @include mixin.mobile{
        width: 294px;
        height: 36svh;
        gap: 10px;
        padding-bottom: 10px;
    }
    div{
        text-align: right;
        .sub1{
            width: 220px;
            height: 100%;
            object-fit: cover;
            object-position: 95% 50%;
            @include mixin.tablet{
                width: 169px;
            }
              @include mixin.mobile{
                object-position: 83% 50%;
                width: 83px;
            }
        }

        .sub2{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
    }
}

#descript2{
    padding-top: 0;
    @include mixin.mobile{
        padding-top: 0;
    }
    .phase1, .phase2{
        padding-top: 60px;
        @include mixin.mobile{
            padding-top: 40px;
        }
        img{
            @include mixin.tablet{
                width: 630px;
                height: 36svh;
            }
              @include mixin.mobile{
                width: 294px;
                height: 36svh;
            }
        }
        p{
            @include mixin.tablet{
                width: 630px;
            }
              @include mixin.mobile{
                width: 294px;
            }
        }
    }
    .phase3{
        padding-top: 80px;
        @include mixin.mobile{
            padding-top: 0;
        }
        p{
            margin: 0 auto;
            text-align: center;
        }
        .slide-hero {
            width: 100%;
            margin: 0 auto 40px auto;
            @include mixin.tablet{
                overflow: hidden;
            }
            .slider {
                padding: 0 20px;
                @include mixin.mobile{
                    padding: 0 50px;
                }
              img {
                width: 450px;
                height: 350px;
              }
            }
          
            .slick-slide {
              transform: scale(0.8);
              transition: all 0.5s;
              opacity: 0.5;
          
              &.slick-center {
                transform: scale(1);
                opacity: 1;
              }
            }

            .slick-track {
  opacity: 1;
  transition: transform 0.3s ease-in-out;

  // デフォルト（PC用）
  width: 100%; /* 全体幅を指定 */

  @include mixin.tablet {
    width: 630px; /* タブレット時のスライダー幅 */
  }

  @include mixin.mobile {
    width: 294px; /* モバイル時のスライダー幅 */
  }
}


                .slick-prev:before,
                .slick-next:before{
                    color: #4e4e4e;
                }
                .slick-dots {
                    bottom: -34px;
                    @include mixin.mobile{
                      left: 3%;  
                    }
                }

              li {
                display: inline-block;
                margin: 0 5px;
          
                button {
                  color: transparent;
                  outline: none;
                  width: 5px;
                  height: 12px;
                  display: block;
                  border-radius: 50%;
                  background: #ccc;
                &:before {
                    display: none;
                }
          
                  &:hover {
                    background: #999; // ホバー時の色変更（例）
                  }
                }
          
                &.slick-active {
                  button {
                    background: #4e4e4e;
                  }
                }
              }
            }
          }
}

#banner{
    padding-bottom: 0;
    @include mixin.mobile{
        padding-top: 0;
    }
    div{
        a{
            display: flex;
            justify-content: center;
            img{
                width: 60%;
                transition: all 0.3s ease;
                @include mixin.tablet{
                    width: 630px;
                }
                @include mixin.mobile{
                    width: 294px;
                }
                &:hover{
                    scale: 1.1;
                }
                &:active{
                    transform: translateY(30px);
                }
            }
        }
    }
}
