@charset "UTF-8";

// 変数、mixinは as 変数名を入力する
// その後は入れる場所にて変数名.varもしくはmixin名を入れる
/* 
    例)p{
         font-size: var.$title;
       }  
*/
@use "var";
@use "mixin" as mixin;
//変数名がファイル名と異なる場合はas~必要だが、同じ場合は要らない

@use "header";
@use "main";
@use "footer";

@include mixin.all;
@include mixin.zoomimg;

h1 {
  font-size: 30px;
}

#hero {
  .topicpath {
    margin: 0 auto;
    padding-top: 260px;
    justify-content: left;
    gap: 15px
  }
  div {
    @include mixin.middle_box;
    .heroimg {
      height: 500px;
    }
  }
}

#descript{
    margin: 90px auto 50px auto;
    width: 100%;
    font-size: 20px;
    line-height: 3.3rem;
    text-align: center;
}

#descript2{
    .phase1, .phase2{
        @include mixin.middle_box;
        img{
            width: 450px;
            height: 300px;
        }
    }
    .phase2{
        flex-direction: row-reverse;
    }
}

.zoom-contents{
    margin-top: 50px;
}