@charset "UTF-8";

// 変数、mixinは as 変数名を入力する
// その後は入れる場所にて変数名.varもしくはmixin名を入れる
/* 
    例)p{
         font-size: var.$title;
       }  
*/
@use "var";
@use "mixin" as mixin;
//変数名がファイル名と異なる場合はas~必要だが、同じ場合は要らない

@use "header";
@use "main";
@use "footer";

@include mixin.all;
@include mixin.zoomimg;

h1 {
  font-size: 36px;
  @include mixin.mobile{
    font-size: 27px;
  }
}

#hero {
  .topicpath {
    margin: 0 auto;
    padding-top: 197px;
    justify-content: left;
    gap: 15px;
    @include mixin.tablet{
      flex-direction: row;
      justify-content: center;
    }
    @include mixin.mobile{
      padding-top: 116px;
    }
  }
  div {
    @include mixin.middle_box;
    @include mixin.tablet{
      gap: 22px;
    }
    .heroimg {
      width: 475px;
      height: 400px;
      object-fit: cover;
      @include mixin.tablet{
        width: 630px;
      }
      @include mixin.mobile{
        width: 294px;
        height: 290px;
      }
    }
  }
}

#descript{
    margin: 20px auto 20px auto;
    width: 100%;
    line-height: 3.3rem;
    text-align: center;
}

#descript2{
    @include mixin.mobile{
      padding-top: 0;
    }
    .phase1, .phase2{
        padding-top: 60px;
        @include mixin.middle_box;
        @include mixin.tablet{
          gap: 22px;
        }
        @include mixin.mobile{
          gap: 11px;
          padding-top: 40px;
        }
        img{
          object-fit: cover;
            width: 400px;
            height: 100%;
            @include mixin.tablet{
              width: 500px;
            }
            @include mixin.mobile{
              width: 294px;
            }
        }
    }
    .phase2{
        flex-direction: row-reverse;
        @include mixin.tablet{
          flex-direction: column;
        }
    }
}

.zoom-contents{
    margin-top: 50px;
    @include mixin.mobile{
      margin-top: 0;
    }
}