@charset "UTF-8";
/* 
    例)p{
         font-size: var.$title;
       }  
*/
header {
  position: fixed;
  top: 24px;
  left: 0;
  width: 100%;
  z-index: 10;
}
header .header_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_row .flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 50px;
}
@media screen and (max-width: 640px) {
  header .header_row .flex {
    margin: 0 24px;
  }
}
header .header_row .title {
  display: block;
}
header .header_row .title img {
  display: inline-block;
  width: 213px;
  height: 193px;
}
@media screen and (max-width: 640px) {
  header .header_row .title img {
    width: 66px;
    height: 63px;
  }
}
header .header_row h3 {
  font-family: "Yuji Boku", serif;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
}
@media screen and (max-width: 640px) {
  header .header_row h3 {
    font-size: 13px;
  }
}
header nav {
  position: fixed;
  bottom: 3.5rem;
  left: 1.5rem;
  color: #1c1b1c;
}
@media screen and (max-width: 640px) {
  header nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #faf1f1;
    z-index: 1000;
    transition: all 0.8s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
header nav ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 640px) {
  header nav ul {
    flex-direction: column-reverse;
    gap: 44px;
    padding: 0;
    margin: 0;
  }
}
header nav ul li {
  font-size: 18px;
  line-height: 1.8em;
  writing-mode: vertical-rl;
}
@media screen and (max-width: 640px) {
  header nav ul li {
    writing-mode: horizontal-tb;
    font-size: 24px;
  }
}
header nav ul a {
  background-color: rgba(250, 241, 241, 0.6);
  border-radius: 6px;
  padding: 4px 2px;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 640px) {
  header nav ul a {
    background-color: transparent;
  }
}
header nav ul a:hover {
  color: #a0a0a0;
}
header nav.active {
  top: 0;
  padding: 0;
}
header .openbtn {
  /* ボタン内側の基点となるためrelativeを指定。
  追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定 */
  position: fixed;
  top: 83px;
  right: 2%;
  background: rgba(158, 249, 255, 0);
  cursor: pointer;
  width: 64px;
  height: 50px;
  border-radius: 5px;
  display: none;
  /* ボタン内側 */
  /* activeクラスが付与されると線が回転して×に */
}
@media screen and (max-width: 640px) {
  header .openbtn {
    display: inline-block;
    z-index: 1000;
  }
}
header .openbtn span {
  display: inline-block;
  transition: all 0.4s; /* アニメーションの設定 */
  position: absolute;
  left: 14px;
  height: 2.1px;
  border-radius: 2px;
  background: #000000;
  width: 45%;
}
header .openbtn span:nth-of-type(1) {
  top: 15px;
}
header .openbtn span:nth-of-type(2) {
  top: 23px;
}
header .openbtn span:nth-of-type(3) {
  top: 31px;
}
header .openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}
header .openbtn.active span:nth-of-type(2) {
  opacity: 0; /* 真ん中の線は透過 */
}
header .openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

/* 
    例)p{
         font-size: var.$title;
       }  
*/
/* 
    例)p{
         font-size: var.$title;
       }  
*/
footer {
  margin-top: 80px;
}
@media screen and (max-width: 640px) {
  footer {
    margin-top: 40px;
  }
}
footer .pagetop {
  border-radius: 80%;
  background-color: rgba(28, 27, 28, 0.7);
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 86px;
  right: 7%;
  cursor: pointer;
  border: none;
  font-size: 15px;
}
@media screen and (max-width: 640px) {
  footer .pagetop {
    width: 46px;
    height: 46px;
  }
}
footer .scroll {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
footer .scroll:hover {
  transform: scale(1.1);
  background-color: transparent;
}
footer .scroll:active {
  transform: translateY(20px);
}
footer .scroll.visible {
  opacity: 1;
}
footer .scroll .go-top {
  font-size: 53px;
  color: #faf1f1;
  padding-left: 9px;
  line-height: 72px;
  transition: all 0.5s ease;
}
@media screen and (max-width: 640px) {
  footer .scroll .go-top {
    font-size: 29px;
    line-height: 49px;
  }
}
footer .scroll .go-top:hover {
  color: #1c1b1c;
}
footer .contact div {
  text-align: center;
}
footer .contact div figure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
footer .contact div figure h2 {
  box-sizing: content-box;
  margin: 0;
  font-size: 27px;
}
@media screen and (max-width: 640px) {
  footer .contact div figure h2 {
    font-size: 16px;
    padding: 0;
  }
}
footer .contact div figure div {
  width: 141px;
}
@media screen and (max-width: 640px) {
  footer .contact div figure div {
    width: 59px;
  }
}
footer .contact div figure div img {
  width: 100%;
}
footer .contact div img {
  width: 800px;
}
@media screen and (max-width: 1060px) {
  footer .contact div img {
    width: 630px;
  }
}
@media screen and (max-width: 640px) {
  footer .contact div img {
    width: 294px;
  }
}
footer .contact div .account {
  margin-top: 12px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .contact div .account .mail {
  display: inline-block;
  border: solid 1px #1c1b1c;
  border-radius: 30px;
  padding: 17px 61px;
  transition: all 0.3s ease-in-out;
}
footer .contact div .account .mail:hover {
  color: #faf1f1;
  background-color: #1c1b1c;
}
@media screen and (max-width: 640px) {
  footer .contact div .account .mail {
    padding: 13px 35px;
    font-size: 11px;
  }
}
footer .contact div .account .icon {
  font-size: 65px;
  transition: scale 0.3s ease-in-out;
}
footer .contact div .account .icon:hover {
  scale: 1.2;
}
footer .copyright {
  display: flex;
  justify-content: center;
  padding: 30px 0 30px 0;
}
@media screen and (max-width: 640px) {
  footer .copyright {
    font-size: 9px;
  }
}

* {
  box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #1c1b1c;
  background-color: #faf1f1;
}

section {
  width: 1000px;
  padding: 40px 0;
  margin: 0 auto;
}
@media screen and (max-width: 1060px) {
  section {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  section {
    padding: 90px 0 40px 0;
  }
}

img {
  width: 100%;
}

h1 {
  font-family: "Shippori Mincho", serif;
  font-weight: 900;
  font-style: normal;
}

h2 {
  margin: 0 auto;
  padding: 40px 0 30px 0;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
}
@media screen and (max-width: 1060px) {
  h2 {
    text-align: center;
  }
}
@media screen and (max-width: 640px) {
  h2 {
    font-size: 25px;
  }
}

p {
  font-size: 18px;
  line-height: 2.8rem;
  width: 500px;
  text-align: justify;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
@media screen and (max-width: 1060px) {
  p {
    width: 500px;
  }
}
@media screen and (max-width: 640px) {
  p {
    width: 294px;
    font-size: 11px;
    line-height: 1.6rem;
  }
}

a {
  font-size: 18px;
  text-decoration: none;
  color: #1c1b1c;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

.zoom-contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 1060px) {
  .zoom-contents {
    flex-direction: column;
  }
}
@media screen and (max-width: 640px) {
  .zoom-contents {
    gap: 10px;
  }
}
.zoom-contents .banner, .zoom-contents .banner2, .zoom-contents .banner3 {
  overflow: hidden;
  position: relative;
  width: 500px;
  height: 350px;
}
@media screen and (max-width: 640px) {
  .zoom-contents .banner, .zoom-contents .banner2, .zoom-contents .banner3 {
    width: 294px;
    height: 270px;
  }
}
.zoom-contents .banner:after, .zoom-contents .banner2:after, .zoom-contents .banner3:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url("img/volleyimg③.png") no-repeat center center;
  background-size: cover;
  transition: transform 0.8s ease;
}
.zoom-contents .banner:hover:after, .zoom-contents .banner2:hover:after, .zoom-contents .banner3:hover:after {
  transform: scale(1.1);
}
.zoom-contents .banner2:after {
  background: url("img/volleyimg④.png") no-repeat center center;
  background-size: cover;
}
.zoom-contents .banner3:after {
  background: url("img/volleyimg⑤.png") no-repeat center center;
  background-size: cover;
}

h1 {
  font-size: 36px;
}
@media screen and (max-width: 640px) {
  h1 {
    font-size: 27px;
  }
}

#hero .topicpath {
  margin: 0 auto;
  padding-top: 197px;
  justify-content: left;
  gap: 15px;
  font-family: "Shippori Mincho", serif;
}
@media screen and (max-width: 1060px) {
  #hero .topicpath {
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (max-width: 640px) {
  #hero .topicpath {
    padding-top: 116px;
    display: none;
  }
}
#hero div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 53px;
}
@media screen and (max-width: 1060px) {
  #hero div {
    flex-direction: column;
  }
}
@media screen and (max-width: 640px) {
  #hero div {
    gap: 11px;
  }
}
@media screen and (max-width: 1060px) {
  #hero div {
    gap: 22px;
  }
}
#hero div .heroimg {
  width: 475px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1060px) {
  #hero div .heroimg {
    width: 630px;
  }
}
@media screen and (max-width: 640px) {
  #hero div .heroimg {
    width: 294px;
    height: 290px;
  }
}

#descript {
  margin: 60px auto 0 auto;
  width: 100%;
  line-height: 3.3rem;
  text-align: center;
}
@media screen and (max-width: 640px) {
  #descript {
    line-height: 1.9rem;
    margin-top: 0;
  }
}

@media screen and (max-width: 640px) {
  #descript2 {
    padding-top: 0;
  }
}
#descript2 .phase1, #descript2 .phase2 {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 53px;
}
@media screen and (max-width: 1060px) {
  #descript2 .phase1, #descript2 .phase2 {
    flex-direction: column;
  }
}
@media screen and (max-width: 640px) {
  #descript2 .phase1, #descript2 .phase2 {
    gap: 11px;
  }
}
@media screen and (max-width: 1060px) {
  #descript2 .phase1, #descript2 .phase2 {
    gap: 22px;
  }
}
@media screen and (max-width: 640px) {
  #descript2 .phase1, #descript2 .phase2 {
    gap: 11px;
    padding-top: 40px;
  }
}
#descript2 .phase1 img, #descript2 .phase2 img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 400px;
  height: 100%;
}
@media screen and (max-width: 1060px) {
  #descript2 .phase1 img, #descript2 .phase2 img {
    width: 500px;
  }
}
@media screen and (max-width: 640px) {
  #descript2 .phase1 img, #descript2 .phase2 img {
    width: 294px;
  }
}
#descript2 .phase2 {
  flex-direction: row-reverse;
}
@media screen and (max-width: 1060px) {
  #descript2 .phase2 {
    flex-direction: column;
  }
}

.zoom-contents {
  margin-top: 50px;
}
@media screen and (max-width: 640px) {
  .zoom-contents {
    margin-top: 0;
  }
}

/* 
    例)p{
         font-size: var.$title;
       }  
*/
* {
  box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #1c1b1c;
  background-color: #faf1f1;
}

section {
  width: 1000px;
  padding: 40px 0;
  margin: 0 auto;
}
@media screen and (max-width: 1060px) {
  section {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  section {
    padding: 90px 0 40px 0;
  }
}

img {
  width: 100%;
}

h1 {
  font-family: "Shippori Mincho", serif;
  font-weight: 900;
  font-style: normal;
}

h2 {
  margin: 0 auto;
  padding: 40px 0 30px 0;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
}
@media screen and (max-width: 1060px) {
  h2 {
    text-align: center;
  }
}
@media screen and (max-width: 640px) {
  h2 {
    font-size: 25px;
  }
}

p {
  font-size: 18px;
  line-height: 2.8rem;
  width: 500px;
  text-align: justify;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
@media screen and (max-width: 1060px) {
  p {
    width: 500px;
  }
}
@media screen and (max-width: 640px) {
  p {
    width: 294px;
    font-size: 11px;
    line-height: 1.6rem;
  }
}

a {
  font-size: 18px;
  text-decoration: none;
  color: #1c1b1c;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

.zoom-contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 1060px) {
  .zoom-contents {
    flex-direction: column;
  }
}
@media screen and (max-width: 640px) {
  .zoom-contents {
    gap: 10px;
  }
}
.zoom-contents .banner, .zoom-contents .banner3, .zoom-contents .banner2 {
  overflow: hidden;
  position: relative;
  width: 500px;
  height: 350px;
}
@media screen and (max-width: 640px) {
  .zoom-contents .banner, .zoom-contents .banner3, .zoom-contents .banner2 {
    width: 294px;
    height: 270px;
  }
}
.zoom-contents .banner:after, .zoom-contents .banner3:after, .zoom-contents .banner2:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url("img/volleyimg③.png") no-repeat center center;
  background-size: cover;
  transition: transform 0.8s ease;
}
.zoom-contents .banner:hover:after, .zoom-contents .banner3:hover:after, .zoom-contents .banner2:hover:after {
  transform: scale(1.1);
}
.zoom-contents .banner2:after {
  background: url("img/volleyimg④.png") no-repeat center center;
  background-size: cover;
}
.zoom-contents .banner3:after {
  background: url("img/volleyimg⑤.png") no-repeat center center;
  background-size: cover;
}

h1 {
  font-size: 30px;
}/*# sourceMappingURL=fashion.css.map */