@charset "UTF-8";
header {
  position: fixed;
  top: 24px;
  left: 0;
  width: 100%;
  z-index: 10;
}
header .header_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_row .flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 50px;
}
@media screen and (max-width: 640px) {
  header .header_row .flex {
    margin: 0 24px;
  }
}
header .header_row .title {
  display: block;
}
header .header_row .title img {
  display: inline-block;
  width: 213px;
  height: 193px;
}
@media screen and (max-width: 640px) {
  header .header_row .title img {
    width: 66px;
    height: 63px;
  }
}
header .header_row h3 {
  font-family: "Yuji Boku", serif;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
}
@media screen and (max-width: 640px) {
  header .header_row h3 {
    font-size: 13px;
  }
}
header nav {
  position: fixed;
  bottom: 3.5rem;
  left: 1.5rem;
  color: #1c1b1c;
}
@media screen and (max-width: 640px) {
  header nav {
    position: fixed;
    top: -200%;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #faf1f1;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
header nav ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 640px) {
  header nav ul {
    flex-direction: column-reverse;
    gap: 44px;
    padding: 0;
    margin: 0;
  }
}
header nav ul li {
  font-size: 18px;
  line-height: 1.8em;
  writing-mode: vertical-rl;
}
@media screen and (max-width: 640px) {
  header nav ul li {
    writing-mode: horizontal-tb;
    font-size: 24px;
  }
}
header nav ul a {
  background-color: rgba(250, 241, 241, 0.6);
  border-radius: 6px;
  padding: 4px 2px;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 640px) {
  header nav ul a {
    background-color: transparent;
  }
}
header nav ul a:hover {
  color: #a0a0a0;
}
header nav.active {
  top: 0;
  padding: 0;
}
header .openbtn {
  /* ボタン内側の基点となるためrelativeを指定。
  追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定 */
  position: fixed;
  top: 83px;
  right: 2%;
  background: rgba(158, 249, 255, 0);
  cursor: pointer;
  width: 64px;
  height: 50px;
  border-radius: 5px;
  display: none;
  /* ボタン内側 */
  /* activeクラスが付与されると線が回転して×に */
}
@media screen and (max-width: 640px) {
  header .openbtn {
    display: inline-block;
    z-index: 1000;
  }
}
header .openbtn span {
  display: inline-block;
  transition: all 0.4s; /* アニメーションの設定 */
  position: absolute;
  left: 14px;
  height: 2.1px;
  border-radius: 2px;
  background: #000000;
  width: 45%;
}
header .openbtn span:nth-of-type(1) {
  top: 15px;
}
header .openbtn span:nth-of-type(2) {
  top: 23px;
}
header .openbtn span:nth-of-type(3) {
  top: 31px;
}
header .openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}
header .openbtn.active span:nth-of-type(2) {
  opacity: 0; /* 真ん中の線は透過 */
}
header .openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}/*# sourceMappingURL=header.css.map */