@charset "UTF-8";
/* 
    例)p{
         font-size: var.$title;
       }  
*/
header {
  position: fixed;
  top: 15px;
  left: 0;
  width: 100%;
  z-index: 10;
}
header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div .title img {
  display: inline-block;
  width: 213px;
  height: 193px;
}
header div h3 {
  font-family: "Yuji Boku", serif;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
}
header nav {
  position: fixed;
  bottom: 3.5rem;
  left: 2.5rem;
  color: #1c1b1c;
}
header nav ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}
header nav ul li {
  font-size: 18px;
  line-height: 1.8em;
  writing-mode: vertical-rl;
}
header nav ul a {
  transition: all 0.3s ease-in-out;
}
header nav ul a:hover {
  color: #a0a0a0;
}

footer {
  margin-top: 80px;
}
footer .contact div {
  text-align: center;
}
footer .contact div figure {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .contact div figure h2 {
  box-sizing: content-box;
  margin: 0;
  font-size: 27px;
}
footer .contact div figure div {
  width: 141px;
}
footer .contact div figure div img {
  width: 100%;
}
footer .contact div img {
  width: 800px;
}
footer .contact div .account {
  margin-top: 50px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .contact div .account .mail {
  display: inline-block;
  border: solid 1px #1c1b1c;
  border-radius: 30px;
  padding: 17px 61px;
  transition: all 0.3s ease-in-out;
}
footer .contact div .account .mail:hover {
  color: #faf1f1;
  background-color: #1c1b1c;
}
footer .contact div .account .icon {
  font-size: 65px;
  transition: scale 0.3s ease-in-out;
}
footer .contact div .account .icon:hover {
  scale: 1.2;
}
footer .copyright {
  display: flex;
  justify-content: center;
  padding: 30px 0 30px 0;
}

body {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #1c1b1c;
  background-color: #faf1f1;
}

section {
  width: 900px;
  padding: 40px 0;
  margin: 0 auto;
}

img {
  width: 100%;
}

h1 {
  font-family: "Shippori Mincho", serif;
  font-weight: 900;
  font-style: normal;
}

h2 {
  margin: 0 auto;
  padding: 36px 0;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 18px;
  line-height: 2.3rem;
  width: 500px;
  text-align: justify;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: #1c1b1c;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

#hero {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0;
  padding: 0;
  margin: 0;
}
#hero .catchphrase div {
  display: flex;
  flex-direction: column;
  text-align: left;
}
#hero .catchphrase div h1 {
  font-size: 41px;
}
#hero .catchphrase div p {
  position: relative;
  line-height: 1.8em;
  padding-left: 6.8958333333vw;
  padding-bottom: 1.5625vw;
  padding-top: 0.5208333333vw;
}
#hero .catchphrase div p::before {
  content: "";
  width: 4.6875vw;
  position: absolute;
  border: solid 0.8px #1c1b1c;
  opacity: 0.8;
  top: 1.5vw;
  left: 0.6458333333vw;
}
#hero div {
  position: relative;
}
#hero div img {
  width: 100%;
  height: 102svh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 0%;
     object-position: 100% 0%;
}

#volleyball {
  width: 1000px;
}
#volleyball a {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
#volleyball a:hover {
  cursor: zoom-in;
}
#volleyball a .top_volley {
  overflow: hidden;
  width: 385px;
  height: 300px;
}
#volleyball a .banner {
  overflow: hidden;
  position: relative;
}
#volleyball a .banner:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url("../asset/img/volleyball_ball.png") no-repeat center center;
  background-size: cover;
  transition: transform 0.8s ease;
}
#volleyball a .banner:hover:after {
  transform: scale(1.1);
}

#travel {
  width: 1000px;
}
#travel a {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
#travel a:hover {
  cursor: zoom-in;
}
#travel a .top_travel {
  overflow: hidden;
  width: 385px;
  height: 300px;
  background-image: url(../asset/img/travel_window.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#travel a .banner2 {
  overflow: hidden;
  position: relative;
}
#travel a .banner2:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url("../asset/img/travel_window.png") no-repeat center center;
  background-size: cover;
  transition: transform 0.8s ease;
}
#travel a .banner2:hover:after {
  transform: scale(1.1);
}

#profile {
  width: 1000px;
}
#profile .profile_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
#profile .profile_box .info a {
  display: inline-block;
  border: solid 1px #1c1b1c;
  padding: 9px 50px;
  transition: all 0.3s ease-in-out;
}
#profile .profile_box .info a:hover {
  color: #faf1f1;
  background-color: #1c1b1c;
}
#profile .profile_box .top_profile {
  overflow: hidden;
  width: 300px;
}

#fashion {
  width: 100%;
  background-color: #A68181;
}
#fashion h2 {
  text-align: center;
}
#fashion .slide-container {
  display: flex;
  align-items: center;
  height: 340px;
  overflow: hidden;
  flex-direction: row;
  margin: 0 auto;
}
#fashion .slide-container .slide-wrapper {
  display: flex;
  flex-direction: row;
  animation: slide-flow 20s infinite linear 1s both;
}
#fashion .slide-container .slide-wrapper .slide {
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 60px;
}
@keyframes slide-flow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}/*# sourceMappingURL=top.css.map */