@charset "UTF-8";
/* 
    例)p{
         font-size: var.$title;
       }  
*/
header {
  position: fixed;
  top: 24px;
  left: 0;
  width: 100%;
  z-index: 10;
}
header .header_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_row .flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 50px;
}
@media screen and (max-width: 640px) {
  header .header_row .flex {
    margin: 0 24px;
  }
}
header .header_row .title {
  display: block;
}
header .header_row .title img {
  display: inline-block;
  width: 213px;
  height: 193px;
}
@media screen and (max-width: 640px) {
  header .header_row .title img {
    width: 66px;
    height: 63px;
  }
}
header .header_row h3 {
  font-family: "Yuji Boku", serif;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
}
@media screen and (max-width: 640px) {
  header .header_row h3 {
    font-size: 13px;
  }
}
header nav {
  position: fixed;
  bottom: 3.5rem;
  left: 1.5rem;
  color: #1c1b1c;
}
@media screen and (max-width: 640px) {
  header nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #faf1f1;
    z-index: 1000;
    transition: all 0.8s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
header nav ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 640px) {
  header nav ul {
    flex-direction: column-reverse;
    gap: 44px;
    padding: 0;
    margin: 0;
  }
}
header nav ul li {
  font-size: 18px;
  line-height: 1.8em;
  writing-mode: vertical-rl;
}
@media screen and (max-width: 640px) {
  header nav ul li {
    writing-mode: horizontal-tb;
    font-size: 24px;
  }
}
header nav ul a {
  background-color: rgba(250, 241, 241, 0.6);
  border-radius: 6px;
  padding: 4px 2px;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 640px) {
  header nav ul a {
    background-color: transparent;
  }
}
header nav ul a:hover {
  color: #a0a0a0;
}
header nav.active {
  top: 0;
  padding: 0;
}
header .openbtn {
  /* ボタン内側の基点となるためrelativeを指定。
  追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定 */
  position: fixed;
  top: 83px;
  right: 2%;
  background: rgba(158, 249, 255, 0);
  cursor: pointer;
  width: 64px;
  height: 50px;
  border-radius: 5px;
  display: none;
  /* ボタン内側 */
  /* activeクラスが付与されると線が回転して×に */
}
@media screen and (max-width: 640px) {
  header .openbtn {
    display: inline-block;
    z-index: 1000;
  }
}
header .openbtn span {
  display: inline-block;
  transition: all 0.4s; /* アニメーションの設定 */
  position: absolute;
  left: 14px;
  height: 2.1px;
  border-radius: 2px;
  background: #000000;
  width: 45%;
}
header .openbtn span:nth-of-type(1) {
  top: 15px;
}
header .openbtn span:nth-of-type(2) {
  top: 23px;
}
header .openbtn span:nth-of-type(3) {
  top: 31px;
}
header .openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}
header .openbtn.active span:nth-of-type(2) {
  opacity: 0; /* 真ん中の線は透過 */
}
header .openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

footer {
  margin-top: 80px;
}
footer .pagetop {
  border-radius: 80%;
  background-color: rgba(28, 27, 28, 0.7);
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 86px;
  right: 7%;
  cursor: pointer;
  border: none;
  font-size: 15px;
}
@media screen and (max-width: 640px) {
  footer .pagetop {
    width: 46px;
    height: 46px;
  }
}
footer .scroll {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
footer .scroll:hover {
  transform: scale(1.1);
  background-color: transparent;
}
footer .scroll:active {
  transform: translateY(20px);
}
footer .scroll.visible {
  opacity: 1;
}
footer .scroll .go-top {
  font-size: 53px;
  color: #faf1f1;
  padding-left: 9px;
  line-height: 72px;
  transition: all 0.5s ease;
}
@media screen and (max-width: 640px) {
  footer .scroll .go-top {
    font-size: 29px;
    line-height: 49px;
  }
}
footer .scroll .go-top:hover {
  color: #1c1b1c;
}
footer .contact div {
  text-align: center;
}
footer .contact div figure {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .contact div figure h2 {
  box-sizing: content-box;
  margin: 0;
  font-size: 27px;
}
@media screen and (max-width: 640px) {
  footer .contact div figure h2 {
    font-size: 16px;
    padding: 0;
  }
}
footer .contact div figure div {
  width: 141px;
}
@media screen and (max-width: 640px) {
  footer .contact div figure div {
    width: 59px;
  }
}
footer .contact div figure div img {
  width: 100%;
}
footer .contact div img {
  width: 800px;
}
@media screen and (max-width: 1010px) {
  footer .contact div img {
    width: 640px;
  }
}
@media screen and (max-width: 640px) {
  footer .contact div img {
    width: 350px;
  }
}
footer .contact div .account {
  margin-top: 50px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .contact div .account .mail {
  display: inline-block;
  border: solid 1px #1c1b1c;
  border-radius: 30px;
  padding: 17px 61px;
  transition: all 0.3s ease-in-out;
}
footer .contact div .account .mail:hover {
  color: #faf1f1;
  background-color: #1c1b1c;
}
footer .contact div .account .icon {
  font-size: 65px;
  transition: scale 0.3s ease-in-out;
}
footer .contact div .account .icon:hover {
  scale: 1.2;
}
footer .copyright {
  display: flex;
  justify-content: center;
  padding: 30px 0 30px 0;
}

* {
  box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #1c1b1c;
  background-color: #faf1f1;
}

section {
  width: 1000px;
  padding: 40px 0;
  margin: 0 auto;
}
@media screen and (max-width: 1010px) {
  section {
    width: 100%;
  }
}

img {
  width: 100%;
}

h1 {
  font-family: "Shippori Mincho", serif;
  font-weight: 900;
  font-style: normal;
}

h2 {
  margin: 0 auto;
  padding: 36px 0;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
}
@media screen and (max-width: 1010px) {
  h2 {
    text-align: center;
  }
}
@media screen and (max-width: 640px) {
  h2 {
    font-size: 25px;
  }
}

p {
  font-size: 18px;
  line-height: 2.3rem;
  width: 500px;
  text-align: justify;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
}
@media screen and (max-width: 1010px) {
  p {
    width: 500px;
  }
}
@media screen and (max-width: 640px) {
  p {
    width: 350px;
    font-size: 14px;
  }
}

a {
  font-size: 18px;
  text-decoration: none;
  color: #1c1b1c;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

#hero {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 150px;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 1430px) {
  #hero {
    gap: 0;
  }
}
@media screen and (max-width: 1010px) {
  #hero {
    position: relative;
    flex-direction: column;
  }
}
#hero .catchphrase div {
  display: flex;
  flex-direction: column;
  text-align: left;
}
@media screen and (max-width: 1010px) {
  #hero .catchphrase div {
    position: absolute;
    top: 275px;
    padding-left: 50px;
    z-index: 1;
  }
}
@media screen and (max-width: 640px) {
  #hero .catchphrase div {
    padding-left: 25px;
  }
}
#hero .catchphrase div h1 {
  font-size: 50px;
}
@media screen and (max-width: 1290px) {
  #hero .catchphrase div h1 {
    font-size: 41px;
  }
}
@media screen and (max-width: 640px) {
  #hero .catchphrase div h1 {
    font-size: 27px;
  }
}
#hero .catchphrase div p {
  position: relative;
  line-height: 1.8em;
  padding-left: 6.8958333333vw;
  padding-bottom: 1.5625vw;
  padding-top: 0.5208333333vw;
}
@media screen and (max-width: 640px) {
  #hero .catchphrase div p {
    width: 260px;
  }
}
#hero .catchphrase div p::before {
  content: "";
  width: 4.6875vw;
  position: absolute;
  border: solid 0.8px #1c1b1c;
  opacity: 0.8;
  top: 1.5vw;
  left: 0.6458333333vw;
}
@media screen and (max-width: 640px) {
  #hero .catchphrase div p::before {
    top: 3.5vw;
  }
}
#hero div {
  position: relative;
}
@media screen and (max-width: 1010px) {
  #hero div {
    width: 100%;
  }
}
#hero div img {
  width: 100%;
  height: 102svh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 0%;
     object-position: 100% 0%;
}
@media screen and (max-width: 1010px) {
  #hero div img {
    -o-object-position: 48% 147%;
       object-position: 48% 147%;
    height: 130svh;
  }
}
@media screen and (max-width: 850px) {
  #hero div img {
    height: 104svh;
  }
}
#hero div .scrolldown2 {
  /* 描画位置 ※位置は適宜調整してください */
  position: absolute;
  /* top: -50px; */
  bottom: 87px;
  right: 12%;
  /* 丸の描写 */
  /* 線の描写 */
  /* 下からの距離が変化して丸の全体が上から下に動く */
  /* 上から下にかけて丸が透過 → 不透明 → 透過する */
}
#hero div .scrolldown2 span {
  /* 描画位置 */
  position: absolute;
  left: 10px;
  bottom: 20px;
  /* テキストの形状 */
  color: #1c1b1c;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  /* 縦書き設定 */
  writing-mode: vertical-rl;
}
#hero div .scrolldown2::before {
  content: "";
  /* 描画位置 */
  position: absolute;
  bottom: 0;
  left: -4px;
  /* 丸の形状 */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #1c1b1c;
  /* 丸の動き 1.6秒かけて透過し、永遠にループ */
  animation: circlemove 1.6s ease-in-out infinite, cirlemovehide 1.6s ease-out infinite;
}
#hero div .scrolldown2::after {
  content: "";
  /* 描画位置 */
  position: absolute;
  bottom: 0;
  left: 0;
  /* 線の形状 */
  width: 2px;
  height: 80px;
  background: #1c1b1c;
}
@keyframes circlemove {
  0% {
    bottom: 70px;
  }
  100% {
    bottom: -5px;
  }
}
@keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 640px) {
  .detail {
    text-align: center;
    margin: 0;
  }
}

#volleyball {
  width: 1000px;
}
@media screen and (max-width: 1010px) {
  #volleyball {
    width: 100%;
  }
}
#volleyball a {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 53px;
}
@media screen and (max-width: 1010px) {
  #volleyball a {
    flex-direction: column;
  }
}
#volleyball a:hover {
  cursor: zoom-in;
}
#volleyball a .top_volley {
  overflow: hidden;
  width: 385px;
  height: 300px;
}
@media screen and (max-width: 1010px) {
  #volleyball a .top_volley {
    width: 500px;
    height: 398px;
  }
}
@media screen and (max-width: 640px) {
  #volleyball a .top_volley {
    width: 350px;
    height: 269px;
  }
}
#volleyball a .banner {
  overflow: hidden;
  position: relative;
}
#volleyball a .banner:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url("img/volleyball.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.8s ease;
}
#volleyball a .banner:hover:after {
  transform: scale(1.1);
}

#travel {
  width: 1000px;
}
@media screen and (max-width: 1010px) {
  #travel {
    width: 100%;
  }
}
#travel a {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
@media screen and (max-width: 1010px) {
  #travel a {
    flex-direction: column;
  }
}
#travel a:hover {
  cursor: zoom-in;
}
#travel a .top_travel {
  overflow: hidden;
  width: 385px;
  height: 300px;
}
@media screen and (max-width: 1010px) {
  #travel a .top_travel {
    width: 500px;
    height: 398px;
  }
}
@media screen and (max-width: 640px) {
  #travel a .top_travel {
    width: 350px;
    height: 269px;
  }
}
#travel a .banner2 {
  overflow: hidden;
  position: relative;
}
#travel a .banner2:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url("img/airplane.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform 0.8s ease;
}
#travel a .banner2:hover:after {
  transform: scale(1.1);
}

#profile {
  width: 1000px;
  padding: 40px 0 80px 0;
}
@media screen and (max-width: 1010px) {
  #profile {
    width: 100%;
  }
}
#profile .profile_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 53px;
}
@media screen and (max-width: 1010px) {
  #profile .profile_box {
    flex-direction: column-reverse;
  }
}
#profile .profile_box h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  letter-spacing: 0.4rem;
}
#profile .profile_box .info a {
  width: 40%;
  display: block;
  border: solid 1px #1c1b1c;
  padding: 9px 50px;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1010px) {
  #profile .profile_box .info a {
    margin: 0 auto;
  }
}
@media screen and (max-width: 640px) {
  #profile .profile_box .info a {
    width: 63%;
    margin: 0 auto;
  }
}
#profile .profile_box .info a:hover {
  color: #faf1f1;
  background-color: #1c1b1c;
}
#profile .profile_box .top_profile {
  overflow: hidden;
  width: 300px;
}

#fashion {
  width: 100%;
  padding: 40px 0 83px 0;
  background-color: #A68181;
}
#fashion include mixin.mobile {
  padding-bottom: 56px;
}
#fashion h2 {
  text-align: center;
  padding: 0 0 36px 0;
}
#fashion h2 a {
  font-size: 30px;
}
@media screen and (max-width: 640px) {
  #fashion h2 a {
    font-size: 25px;
  }
}
#fashion .slide-container {
  display: flex;
  align-items: center;
  height: 340px;
  overflow: hidden;
  flex-direction: row;
  margin: 0 auto;
}
#fashion .slide-container .slide-wrapper {
  display: flex;
  flex-direction: row;
  animation: slide-flow 20s infinite linear 1s both;
}
#fashion .slide-container .slide-wrapper .slide {
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 60px;
}
@media screen and (max-width: 640px) {
  #fashion .slide-container .slide-wrapper .slide {
    width: 180px;
    margin-right: 30px;
  }
}
@keyframes slide-flow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}/*# sourceMappingURL=top.css.map */