@charset "UTF-8";
/* 
    例)p{
         font-size: var.$title;
       }  
*/
header {
  position: fixed;
  top: 15px;
  left: 0;
  width: 100%;
  z-index: 10;
}
header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div .title img {
  display: inline-block;
  width: 213px;
  height: 193px;
}
header div h3 {
  font-family: "Yuji Boku", serif;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
}
header nav {
  position: fixed;
  bottom: 3.5rem;
  left: 2.5rem;
  color: #1c1b1c;
}
header nav ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}
header nav ul li {
  font-size: 18px;
  line-height: 1.8em;
  writing-mode: vertical-rl;
}

footer {
  margin-left: 63px;
  margin-right: 63px;
}

body {
  margin: 0;
  color: #1c1b1c;
  background-color: #faf1f1;
}

section {
  width: 900px;
  padding: 40px 0;
  margin: 0 auto;
}

img {
  width: 100%;
}

h1 {
  font-family: "Shippori Mincho", serif;
  font-weight: 900;
  font-style: normal;
}

h2 {
  width: 1000px;
  margin: 0 auto;
  padding: 36px 0;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 18px;
  line-height: 2.3rem;
  width: 500px;
  text-align: justify;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: #1c1b1c;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

#hero {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0;
  padding: 0;
  margin: 0;
}
#hero .catchphrase div {
  display: flex;
  flex-direction: column;
  text-align: left;
}
#hero .catchphrase div h1 {
  font-size: 41px;
}
#hero .catchphrase div p {
  position: relative;
  line-height: 1.8em;
  padding-left: 6.8958333333vw;
  padding-bottom: 1.5625vw;
  padding-top: 0.5208333333vw;
}
#hero .catchphrase div p::before {
  content: "";
  width: 4.6875vw;
  position: absolute;
  border: solid 0.8px #1c1b1c;
  opacity: 0.8;
  top: 1.5vw;
  left: 0.6458333333vw;
}
#hero div {
  position: relative;
}
#hero div img {
  width: 100%;
  height: 102svh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 0%;
     object-position: 100% 0%;
}

#volleyball {
  width: 1000px;
}
#volleyball a {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

#travel {
  width: 1000px;
}
#travel a {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.top_volley {
  overflow: hidden;
  width: 385px;
  height: 300px;
  background-image: url(../asset/img/volleyball_ball.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.top_travel {
  overflow: hidden;
  width: 385px;
  height: 300px;
  background-image: url(../asset/img/travel_window.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#profile {
  width: 1000px;
}
#profile .profile_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
#profile .top_profile {
  overflow: hidden;
  width: 300px;
}

#fashion {
  width: 100%;
  background-color: #A68181;
}
#fashion h2 {
  text-align: center;
}
#fashion .slide-container {
  display: flex;
  align-items: center;
  height: 340px;
  overflow: hidden;
  flex-direction: row;
  margin: 0 auto;
}
#fashion .slide-wrapper {
  display: flex;
  flex-direction: row;
  animation: slide-flow 20s infinite linear 1s both;
}
#fashion .slide {
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #ddd;
  margin-right: 60px;
}
@keyframes slide-flow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}/*# sourceMappingURL=top.css.map */